<%- include('header') -%>

<div class="jumbotron wrapper">
  <h1>Bienvenido!!</h1>
  <p>Esta es la base de datos del hospital :D</p>
</div>

<script>
  $(function() {
    $("#header_nav_1").addClass("active");
  });
</script>

<%- include('footer') -%>
