<%- include('header') -%>

<div class="container">
  <div class="row"><br><br><br><br></div>
  <div class="row">
  	<div class="col-md-3"></div>
  	<div class="col-md-6">
  		<h1>Iniciar sesión</h1>
      <br><br>
      <form action="/login" method="post">
        <div class="form-group">
          <label for="Inputuser">Usuario:</label>
          <input type="text" class="form-control" name="name" id="InputUSer" placeholder="Ingrese el nombre de usuario" required autofocus>
        </div>
        <div class="form-group">
          <label for="InputPassword">Contraseña:</label>
          <input type="password" class="form-control" name="password" id="InputPassword" placeholder="Ingrese su contraseña" required>
        </div>
        <button type="submit" class="btn btn-default">Ingresar</button>
      </form>
  	</div>
  	<div class="col-md-3"></div>
  </div>
  <div class="row"> </div>
</div>

<script>
  $(function() {
    $("#header_nav_4").addClass("active");
  });
</script>

<%- include('footer') -%>
