<%- include('header') -%>

<div class="container">
  <div class="row"><br><br><br><br></div>
  <div class="row">
  	<div class="col-md-3"></div>
    <div class="col-md-6">
    	<h1>Registro</h1>
      <br><br>
      <form action="/signup" method="post">
        <div class="form-group">
          <label for="Inputuser">Usuario:</label>
          <input type="text" name="name" class="form-control" id="InputUSer" placeholder="Ingrese el nombre de usuario" required autofocus>
        </div>
        <div class="form-group">
          <label for="InputPassword">Contrase単a:</label>
          <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Ingrese su contrase単a" required>
        </div>
        <div class="form-group">
          <label for="InputConfirmPassword">Confirmar contrase単a:</label>
          <input type="password" name="passwordConfirm" class="form-control" id="InputConfirmPassword" placeholder="Reingrese su contrase単a">
        </div>
        <div class="checkbox">
          <label>
            <%  if (typeof user == 'object' && user && user.isAdmin == true) { %>
              <input name="isAdmin" type="checkbox"> Admin
            <% } else { %>
            <input name="isAdmin" type="checkbox" disabled=true> Admin
            <% } %>
          </label>
        </div>
        <button type="submit" class="btn btn-default">Registrarse</button>
      </form>
    </div>
  	<div class="col-md-3"></div>
  </div>
  <div class="row"> </div>
</div>

<script>
  $(function() {
    $("#header_nav_5").addClass("active");
  });
</script>

<%- include('footer') -%>
